
@import url('https://fonts.googleapis.com/css?family=Assistant|Prompt|Source+Sans+Pro:700');

:root {
/*        font-size: 11px;*/
    box-sizing: border-box;
    --c-base: white;
    --c-base-b: whitesmoke;
    --c-black: black;
    --c-shadow-light: dimgray;
    --c-shadow-dark: darkslategray;
    --c-alert: crimson;
    --c-alert-b: firebrick;
    --c-alert-c: darkred;
    --c-accent: royalblue;
    --c-accent-b: steelblue;
    --c-accent-c: midnightblue;
}

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Prompt', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.border--main {
    border: 0.1rem solid blue;
}

.card {
    height: 100px;
    margin: 0.4rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.2rem var(--c-shadow-light);
}

.btn:hover {
    box-shadow: 0 0.1rem 0.2rem var(--c-shadow-light), 0 0.1rem 0.2rem var(--c-shadow-dark);
}

.btn-fixed-width {
    padding: 0;
    width: 6rem;
    min-height: 2rem;
}

.btn-alert {
    background: var(--c-alert);
    border: 0.2rem solid var(--c-alert-c);
    color: var(--c-base-b);
}

.btn-alert:hover {
    color: var(--c-base);
    border: 0.2rem solid var(--c-alert-b);
}

.btn-one {
    background: var(--c-accent);
    border: 0.2rem solid var(--c-accent-c);
    color: var(--c-black);
}

.btn-one:hover {
/*    color: var(--c-black);*/
    border: 0.2rem solid var(--c-accent-b);
}


.burger-container {
    cursor: pointer;
    width: 6rem;
    height: 5rem;
    margin: 4rem;
    background-color: green;
}

.burger-line {
    top: 2rem;
    height: 1rem;
    width: 100%;
    background-color: slateblue;
    position: relative;
    transition: scale 200ms ease-in-out 200ms;
    transition: transform 400ms ease-in-out;
    pointer-events: none; /*prevents mouse events of .burger-line inteferring with .burger-container - fixed flickering*/
    z-index: 30;
}

.burger-line::before, .burger-line::after, .burger-item::before, .burger-item::after {
    position: absolute;
    content: '';
    background-color: slateblue;
    left: 0;
    width: 100%;
    height: 1rem;
}

.burger-line::before, .burger-item::before {
    top: -2rem;
}

.burger-line::after, .burger-item::after {
    top: 2rem;
}

.burger-line--open {
    transform: rotate(-30deg) scale(1.25);
    transition: transform 150ms linear;
}

.burger-line--open::before, .burger-line--open::after {
    transition: transform 100ms ease-in-out 50ms;
    transition:: top 180ms linear 20ms;
}

.burger-line--open::before, .burger-item::before {
    transform: translate(-1.5rem) scale(0.4) scaleY(1.25);
    top: -1rem;
}

.burger-line--open::after, .burger-item::after {
    transform: translate(1.5rem) scale(0.4) scaleY(1.25);
    top: 1rem;
}

.burger-item {
    width: 100%;
    background-color: red;
    height: 1rem;
    transform: rotate(-30deg) scale(1.25);
    transition: all 120ms linear 30ms;
    top: 1rem;
    position: relative;
    text-transform: uppercase;
    line-height: 1rem;
    opacity: 0;
}

.burger-item--show {
    opacity: 1;
    transform: translate(0, 5rem) rotate(-30deg) scale(1.25);
}
